.row {
    display: flex;
    text-align:center;
    vertical-align: middle;
    line-height:90px;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
    outline: 3px;
    outline-color: purple;
    outline-style: solid
  }

  p{
    display:inline;
  }

  p:after {
    content: "";
    display: block;
  }